.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px; 
}

.movie-card {
  width: 400px;     
  background: #f4f4f4;    
  border-radius: 8px;      
  padding: 10px;              
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;        
  flex-direction: column;   
  align-items: center;        
}

.movie-image {
  width: 100%;           
  height: auto;
  border-radius: 20px;    
  object-fit: cover;          
}

.movie-title {
  text-decoration: none;   
  color: black;         
}

.movie-details {
  text-align: center; 
  margin-top: 10px;     
}

